<!DOCTYPE html>
<html lang="en">
<head>
	<title>Litros de la suerte</title>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
		<title>Litros De La Suerte</title>
	<meta name="generator" content="WYSIWYG Web Builder 8 - http://www.wysiwygwebbuilder.com">
	<link rel="stylesheet" href="css/litrosdelasuerte.css" type="text/css">
	<link rel="stylesheet" href="css/index.css" type="text/css">
	<link rel="stylesheet" href="css/lottoley.css" type="text/css">
	<link rel="stylesheet" href="css/Instrucciones.css" type="text/css">
	<link href="css/jquery.dataTables.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script src="js/jquery.dataTables.js"></script>
    <script src="js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="js/jquery.effects.core.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.blind.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.bounce.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.clip.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.drop.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.fold.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.scale.min.js"></script>
	<script type="text/javascript" src="js/jquery.effects.slide.min.js"></script>
	<script type="text/javascript" src="js/wb.slideshow.min.js"></script>
	<script type="text/javascript" src="js/wwb8.js"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			$("#SlideShow1").slideshow(
		{
			interval: 2000,
			type: 'sequence',
			effect: 'fade',
			direction: '',
			effectlength: 1000
		});
		});

	</script>
	
	<script>
		(function() {
			setInterval(function(){
			var el = document.getElementById('blink');
			if(el.className == 'luz'){
			el.className = 'luz on';
			}else{
			el.className = 'luz';
			}
			},500);
			})();
	</script>	
</head>
<body class="landing">
	{{{body}}}
</body>
</html>