<img id="backgroundimage" border="0" alt="">
		<div id="container">
			<div id="wb_Shape4" style="position: absolute; left: 61px; top: 52px; width: 949px; height: 1200px; z-index: 0;">
				<img src="images/fondo4.gif" id="Shape4" alt="" style="border-width:0;width:949px;height:1200px;">
				<div id="instrucciones1" style="position: absolute; left: 135px; top: 313px; width: 600px; height: 307px; text-align: center; z-index: 2;">
				<img src="images/Pantalla-Bases.gif">
					<div id="wb_Image15" style="position: absolute; left: 238px; top: 330px; width: 193px; height: 47px; z-index: 4;">
						<a href="/login" target="_self">
						<div style="position: absolute; left: 44px; top: 9px;">
						<span class="luz" id="blink">
						<b>Entrar</b>
						</span>
						</div>
						</a>
				<input class="btn" name="" type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
					</div>
				</div>
			</div>					
			<div id="wb_Text9" style="position: absolute; left: 91px; top: 1200px; width: 890px; height: 32px; text-align: center; z-index: 3;">
				<span style="color: #FFFFFF; font-family: Arial; font-size: 13px;">
					<strong>
					Copyright © 2017 Litros De La Suerte . All Rights Reserved. M&eacute;xico.
					</strong>
				</span>
				<span>
					<div style=background-color:white></div>
				</span>
			</div>
				<div id="wb_Image4" style="position:absolute;left:475px;top:421px;width:0px;height:0px;z-index:4;">
						<img src="" id="Image4" alt="" border="0" style="width:0px;height:0px;">
					</div>
		</div>