<div id="page-wrapper">

			
			
				<section id="banner" class="container">
				<br>
				<br>
				<br>
				
					<h3>Bienvenido a "Litros de la suerte"</h3>
					<p>Bases:<br>
					Da click en el boton "Entrar",<br> 
					Crea tu perfil,<br>
					Las personas que más participaciones acumulen del 26 de agosto al 15 de septiembre del 2017 se harán acreedores a:<br>
					1° Lugar- Pantalla LG de 49”<br>
					Del 2° al 10°- 1 Vale de gasolina por $500.00 (quinientos pesos 00/100 M.N.) canjeables en cualquier sucursal de la cadena Petro 7<br>
					
					En caso de dudas o aclaraciones sobre la promoción, comuníquese al Centro de Atención “LITROS DE LA SUERTE” al 01 800 987-4262  o 55 9131-5317<br>
					Esta promoción ha sido registrada ante la Procuraduría Federal del Consumidor<br>
					</p>
					
					<a href="login.html" class="button special">Entrar</a>
					
						
					
				</section>
				

			<!-- Main -->
				

			<!-- Footer -->
				<footer id="footer">				
					
						<li>&copy; Promogames.</li>
					
				</footer>

		</div>