<div id="instrucciones" align="center" style="position: absolute; left: 55px; top: 13px; width: 667px; height: 307px; text-align: center; z-index: 2;">
		<span style="color: #0B3583; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
		<strong>
			Inicia Sesion o Registrate Para Continuar:<br><br>
		</strong>
		
			<form name="form1" method="post" action="">
			<table align="center">
			<tr>
			<p>
				<td>Usuario: </td>
				<td><input type="text" name="usuario" placeholder="Ingresa Tu Usuario" required></td>
			</p>	
			</tr>
			<tr>			
			<p>
				<td>Password:</td>
				<td><input type="password" name="contrasena" placeholder="Ingresa Tu Password" required></td>
				</p>
			</tr>
			</table>
			<div id="wb_Image15" style="position: absolute; left: 238px; top: 180px; width: 193px; height: 47px; z-index: 4;">
			<input class="btn" name="Submit" type="submit" value="Entrar">
			</div>   
			</form>
    
		</span>
		
	</div>
	<div id="wb_Image15"  style="position: absolute; left: 300px; top: 350px; width: 153px; height: 47px; z-index: 4;">
	<a href="registro.html" target="_self">
		<div style="position: absolute; left: 24px; top: 9px;">
			<span class="luz" id="blink">
				<b>Registrar</b> 
			</span>
		</div>
	</a>	
	<input class="btn" name="" type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
	</div>