		<div id="page-wrapper">						
				<section id="banner" class="container">
					<div class="row uniform 20%">
					<p>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;

							<div class="table-wrapper">
							<br>
							<br>
							
										<table id="tabla_basica">
											<thead>
												<tr>												
													<th>Usuario</th>
													<th>Cantidad De Cupones</th>
												</tr>
											</thead>
											<tbody>
												<tr>												
													<td>Concursante 1</td>
													<td>Numero de ticket tal</td>
												</tr>
												<tr>
													<td>Concursante 2</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 3</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 4</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 5</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 6</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 7</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 8</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 9</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr><tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
												</tr>												
											</tbody>											
										</table>
										
										<script type="text/javascript"> 
											$(document).ready(function() {
												$('#tabla_basica').DataTable( {
													"scrollY":        "300px",
													"scrollCollapse": true,
													"paging":         false
													} );
												} );
										</script>

									</div>
					</p>
					</div>														
				</section>
				<footer id="footer">								
						<li>&copy; Promogames.</li>					
				</footer>
		</div>