		<div id="page-wrapper">						
				<section id="banner" class="container">
					<div class="row uniform 20%">
					<p>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;						

							<div class="table-wrapper">
										<table id="example">
											<thead>
												<tr>												
													<th>Nombre</th>
													<th>Tiket</th>
													<th>Puntos</th>													
												</tr>
											</thead>
											<tbody>
												<tr>												
													<td>Concursante 1</td>
													<td>Numero de ticket tal</td>
													<td>1000</td>
												</tr>
												<tr>
													<td>Concursante 2</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 3</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 4</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 5</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 6</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 7</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 8</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 9</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												<tr>
													<td>Concursante 10</td>
													<td>Numero de ticket tal </td>
													<td>2000</td>
												</tr>
												
											</tbody>
											
										</table>
										<script type="text/javascript">
										$(document).ready(function() {
											$('#example').DataTable();
										} );
										</script>
									</div>
					</p>
					</div>														
				</section>
				<footer id="footer">								
						<li>&copy; Promogames.</li>					
				</footer>
		</div>
