<div id="instrucciones" align="center" style="position: absolute; left: 55px; top: 13px; width: 667px; height: 407px; text-align: center; z-index: 2;">
		<span style="color: #0B3583; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
		<strong>
		Tabla de Participaciones, Si Lo Deseas Puedes Buscar Tu Nombre:<br><br>
		</strong>
		

			 <table class="table table-bordered table-hover table-striped" id="tabla_basica">							
                                <thead>
                                    <tr>
										<th>Usuario</th>
										<th>Participaciones</th>
										
										
                                    </tr>
                                </thead>
                                <tbody>
								
                                    <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									  <tr class="active">
										<td align="center">dato</td>
										<td align="center">dato</td>
									</tr>
									</tr>
									
									</tbody>
								
                            </table>
							<script type="text/javascript"> 
								$(document).ready(function() {
									$('#tabla_basica').DataTable( {
									"scrollY":        "200px",
									"scrollCollapse": true,
									"paging":         false
									} );
								} );
							</script>			
    
		</span>
		
	</div>