<div id="page-wrapper">						
				<section id="banner" class="container">
					<div class="row uniform 20%">
					<p>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
					<form action="" method="post">
						
						<p>
<br>
<br>


						Nombre:
						<input type="text" name="usuario" placeholder="Ingresa tu nombre" required />
						Apellidos:
						<input type="text" name="password" placeholder="Ingresa tus apellidos" required />
						Correo electronico:
						<input type="email" name="correo" placeholder="Ingresa tu correo electronico" required />
						Telefono:
						<input type="text" name="correo" placeholder="Ingresa tu correo electronico" required />
						Usuario: 
						<input type="text" name="usuario" placeholder="Ingresa tu usuario">
						Contraseña: 
						<input type="text" name="usuario" placeholder="ingresa tu contraseña">
						</p>
						<ul class="actions">
						<li><input type="submit" value="Registrar" class="button special"></li>
						<li><input type="reset" value="Cancelar" class="button "></li>						
						</ul>
						
					</form>
					</p>
					</div>														
				</section>
				<footer id="footer">								
						<li>&copy; Promogames.</li>					
				</footer>
		</div>