<div id="page-wrapper">						
				<section id="bannerTicket" class="container">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>		
					
					<div class="row uniform 20%">
					
					<p>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp;
					<form action="" method="post">
						
						<p>
						Registra tu cupon:
						<input type="text" name="usuario" placeholder="Ingresa tu usuario">						
						</p>
						<ul class="actions">
						<li><input type="submit" value="Registrar" class="button special"></li>
						<li><input type="reset" value="Cancelar" class="button "></li>
						</ul>
						
						
						
					</form>
					</p>
					</div>														
				</section>
				<footer id="footer">								
						<li>&copy; Promogames.</li>					
				</footer>
		</div>